body {
    background-color: rgb(27, 215, 199);
}

h1 {
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#show_sketch {
    float:right;
}

#clear {
    float:left;
}

canvas {
    border:5px solid white;
    border-radius: 20px;
    animation-name: draw;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count: infinite;

}

@keyframes draw {
    from {box-shadow: 1px, 1px, 38px gray;}
    to {box-shadow: 1px, 1px, 38px white;}
}